*{

  overflow-x: hidden;
  overflow-y: hidden;
}


main {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.planche {
  /*position: relative;
  left: 50%;
  right: 50%;*/
  /* margin: auto; */
  border :3px rgb(29, 255, 97) solid;

  height: 90vh;
  width: 30vw;
  background-color: brown;
}
