*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  height: 100vh;

  background-color: burlywood;


}

section {
  display: flex;
 
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
    width: 650px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  background-color: rgb(159, 153, 153);

}

div {
  /*display: flex;*/
  justify-content: space-around;
  /* flex-direction: row; */
  margin: 0;

}


.square {
  /*80px;*/
   height: 61px;
    width: 61px;
    
   

}

.square:hover {
  background-color: rgba(109, 106, 106, 0.542);
}

.square_2 {
  /*80px;*/
  display: inline-block;
  height: 11px;
    width: 100px;
  /* 15%*/
  margin: 0;
  background-color: white;

}

.square_2:hover {
  background-color: rgba(151, 8, 8, 0.542);
}

p {
  /* margin-block-start: 5px;
margin-block-end: 0;*/
  margin: 0%;
}


.row {
display: flex;
  height: 61px;
  background-color: black;
  
}

.case {
  display: flex;
  height: 11px;
  width: auto;
  /* margin: 1px; */
  /* background-color: white;*/
}

/* style ligne*/
.ligne {
  width: 10px;
    margin: 0px;
    height: 61px;
  background-color: white;

}

.ligne:hover {
  background-color: rgba(189, 0, 0, 0.542);
}

.pion-1{

  margin-bottom: 5px;
  background-color:red;

  border-radius: 50px;
}